{% extends "BaseForm.html" %}

{% block title %}
Login
{% endblock %}

{% block extraLink %}
<link href="/static/css/signin.css" rel="stylesheet">
{% endblock %}

{% block container %}
		<div class="container">

			<div class="row panel panel-info col-md-6 col-md-offset-3">
				
			
                <div class="panel-heading">
                    <div class="panel-title text-center">Login</div>
                </div>

                <div class="form-body">
                    {% if form.errors %}
                    <p style="color:red" class = "text-center">
                        Incorrect user name or password
                    </p>
                    {% endif %}

                    <form class="form-signin center-block" action="{% url 'login' %}" method = "post">
                        <input type="username" name = "username" id="inputEmail" class="form-control input-lg" placeholder="Username" >
                        <input type="password" name="password" id="inputPassword" class="form-control input-lg" placeholder="Password" >

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>

                        <div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        </div>

                        <span class="pull-right"><a href="register">Register</a></span>
                        <span><a href="{% url 'password_change' %}">Forget password</a></span>
                        <input type = "hidden" name = "next" value = "{{ next }}" />
                        {% csrf_token %}
                    </form>
                </div>
			</div>

		</div>
{% endblock %}